﻿/*Horizontal Orientation CSS*/

.jscarousal-horizontal

{

	width: 100%;
	margin: 0;
	padding: 0;
	padding: 22px 8px 22px 8px;
	position: relative; /*overflow: hidden;*/

}

.jscarousal-horizontal-back, .jscarousal-horizontal-forward

{

	float: left;
	width: 23px;
	height: 98px;
	color: White;
	position: relative;
	top: 6px;
	cursor: pointer;

}

.jscarousal-horizontal-back

{

	background-image: url(btn-left-sponsor.png);

	background-repeat: no-repeat;

	background-position: left;

}

.jscarousal-horizontal-forward

{

	background-image: url(btn-right-sponsor.png);

	background-repeat: no-repeat;

	background-position: right;

}

.jscarousal-contents-horizontal

{

	width: 1000px;
	height: 124px;
	float: left;
	position: relative;

	overflow: hidden;

}

.jscarousal-contents-horizontal > div

{

	position: absolute;

	width: 100%;

	height: 124px;

}

.jscarousal-contents-horizontal > div > div

{

	float: left;

	margin-left: 6px;

	margin-right: 8px;

}

.jscarousal-contents-horizontal img

{
	width:180px;
	height: 99px;
	border: 3px solid #FFFFFF;
}

/*Horizontal Orientation CSS Ends*/



/*Vertical Orientation CSS Starts*/

.jscarousal-vertical

{

	width: 158px;
 
	border: solid 1px #7A7677;

	margin: 0;

	padding: 0;

	position: relative;

	overflow: hidden;

}

.jscarousal-vertical-back, .jscarousal-vertical-forward

{

	width: 100%;

	height: 26px;
 

	color: White;

	position: relative;

	cursor: pointer;

	z-index:100;

}

.jscarousal-vertical-back

{

	background-image: url(thumbtop-vertical.jpg);

	background-repeat: no-repeat;

	background-position: bottom;

}

.jscarousal-vertical-forward

{

	background-image: url(thumbbottom-vertical.jpg);

	background-repeat: no-repeat;

	background-position: top;

}

.jscarousal-contents-vertical

{

	overflow: hidden; 
	width: 100%;
	height: 650px;

}

.jscarousal-contents-vertical > div

{

	position: absolute;

	top: 40px;

	width: 100%;

	height: 820px;

	overflow: hidden;

}

.jscarousal-contents-vertical > div > div

{
	width: 150px;
	margin: 8px;
}

.jscarousal-contents-vertical > div > div span

{

	display: block;

	width: 70%;

	text-align: center;

}

.jscarousal-contents-vertical img

{
	width: 140px;
	height: 66px;
	border: 1px solid #000000;
}

/*Vertical Orientation CSS Ends*/



/*Common*/

.hidden

{

	display: none;

}

.visible

{

	display: block;

}

.thumbnail-active

{

	filter: alpha(opacity=100);

	opacity: 1.0;

	cursor: pointer;

}

.thumbnail-inactive

{

	filter: alpha(opacity=20);

	opacity: 0.2;

	cursor: pointer;

}

.thumbnail-text

{

	color: #7A7677;

	font-weight: bold;

	text-align: left;

	display: block;

	padding: 10px 2px 2px 0px;

}

