@charset "utf-8";
/* CSS Document */

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

@font-face {
	font-family: 'Circular';
	src: url('../fonts/Circular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular.woff') format('woff'), url('../fonts/Circular.ttf') format('truetype'), url('../fonts/Circular.svg#Circular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circular-Bold';
	src: url('../fonts/Circular-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Bold.woff') format('woff'), url('../fonts/Circular-Bold.ttf') format('truetype'), url('../fonts/Circular-Bold.svg#Circular-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.detailexpand {
	color:#999999;
	font-style:italic;
	font-size:12px
}
h2 {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:30px;
	color:#000000;
}
h3 {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:30px;
	color:#000000;
}
h4 {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:24px;
	color:#000000;
}
.bordercontent {
	border-top:1px #dddcdc solid;
	border-bottom:1px #dddcdc solid;
}
/*link*/
a {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:23px;
	color:#555555;
	text-decoration:none;
}
a:hover {
	color:#04579f;
	text-decoration:underline;
}
a.linkmenu {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:17px;
	color:#555555;
	text-decoration:none;
}
a.linkmenu:hover {
	color:#04579f;
	text-decoration:underline;
}
a.linkreadmore {
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:17px;
	color:#04579f;
	text-decoration:none;
}
a.linkreadmore:hover {
	color:#04579f;
	text-decoration:underline;
}
a.linksocial {
	font-family: 'Circular';
	text-transform:uppercase;
	font-weight:bold;
	font-size:22px;
	color:#04579f;
	text-decoration:none;
}
a.linksocial:hover {
	color:#04579f;
	text-decoration:underline;
}
a.linkcopyright {
	font-family:Tahoma, "Microsoft Sans Serif";
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
}
a.linkcopyright:hover {
	color:#ffffff;
	text-decoration:underline;
}
.breadcrumb {
	font-size:23px;
	font-family: 'Circular';
	font-style:italic;
	color:#555555
}
.breadcrumbstay {
	font-size:24px;
	font-family: 'Circular-Bold';
	font-style:italic;
	color:#08559d
}
.breadcrumb a {
	font-size:22px;
	font-family: 'Circular-Bold';
	font-style:italic;
	color:#08559d;
	text-decoration:none
}
.breadcrumb a:hover {
	font-size:22px;
	font-family: 'Circular-Bold';
	font-style:italic;
	color:#08559d;
	text-decoration:underline
}
a.linktable  {
font-size:14px;	
color:#669;
text-decoration:none;

}
/*end link*/
/*form*/
.txtlogin {
	-webkit-box-shadow: 1px 0px 5px 0px rgba(84, 84, 84, 0.28);
	-moz-box-shadow:    1px 0px 5px 0px rgba(84, 84, 84, 0.28);
	box-shadow:         1px 0px 5px 0px rgba(84, 84, 84, 0.28);
	padding:6px;
	color:#333333;
	font-style:italic;
	font-size:12px;
	background:#c8dcef;
	line-height:12px;
	border:1px solid #e0effc;
	width:273px;
	height:26px;
	margin-bottom:7px;
}
/*end form*/

.bgabout {
	background:url(../images/bg-aboutus.jpg) no-repeat top center;
}
.bgregister {
	background:url(../images/bg-login.jpg) no-repeat top center;
}
/*navmenu*/
#navmenu {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#navmenu li {
	display:block;
	float:left;
}
/*end navmenu*/
.btn-select  input[type="submit"]  {
	background:url(../images/btn-login.jpg)top left no-repeat;
	width:140px;
	height:42px;
	text-indent:-5000px;
	display:block;
	margin:auto;
	border:none;
}
.btn-select  input[type="submit"]:hover {
	background:url(../images/btn-login.jpg) bottom left no-repeat;
	width:140px;
	height:42px;
	display:block;
	border:none;
}
.btn-readall a {
	background:url(../images/btn-readall.jpg)top left no-repeat;
	width:178px;
	height:53px;
	text-indent:-5000px;
	display:block;
	margin:auto;
}
.btn-readall a:hover {
	background:url(../images/btn-readall.jpg) bottom left no-repeat;
	width:178px;
	height:53px;
	display:block;
}
/* ------------------------------
PAGE STRUCTURE LAYOUT
------------------------------ */	
#container {
	width:100%;
	margin:0 auto;
}
#content {
	width:100%;
	display:block;
}
/*---------------------------------------------------------banner*---------------------------------------------------------*/

#tophead {
	position:relative;
	display:block;
	height:1px;
	background:#ff6600;
	width:100%;
}
#tophead #bglogo {
	position: absolute;
	width: 100%;
	height:41px;
	top:42px;
	z-index:200;
}
.logotica {
	display: block;
	height: 192px;
	margin: auto;
	width: 784px;
	text-indent: -5000px;
	background:url(../images/logo-tica.png) top center no-repeat;
}
.logotica:hover {
	background:url(../images/logo-tica.png) top center no-repeat;
}
#tophead #bgnavmenu {
	position: absolute;
	width: 100%;
	height:63px;
	top:246px;
	z-index:300;/*background:#fff000*/
}
.navtop {
	list-style:none;
	margin: auto;
	padding:0px;
	width:1140px;
	height:63px;
	display:block;/*background:#CCC*/
}
.navtop li {
	float:left
}
.navtop li.mhome a {
	width:180px;
	height:63px;
	line-height:63px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:22px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mhome a:hover {
	color:#fff000;
	text-decoration:none;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mhome a.hit {
	color:#fff000;
	text-decoration:none;
}
.navtop li.mappform a {
	width:240px;
	height:63px;
	display:block;
	background:url(../images/btn-app.png) top left no-repeat;
	text-indent:-5000px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mappform a:hover {
	width:240px;
	height:63px;
	display:block;
	background:url(../images/btn-app.png) bottom left no-repeat;
	text-indent:-5000px;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mfeature a {
	width:180px;
	height:63px;
	line-height:63px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:22px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mfeature a:hover {
	color:#fff000;
	text-decoration:none;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mfeature a.hit {
	color:#fff000;
	text-decoration:none;
}
.navtop li.mnews a {
	width:180px;
	height:63px;
	line-height:63px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:22px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mnews a:hover {
	color:#fff000;
	text-decoration:none;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mnews a.hit {
	color:#fff000;
	text-decoration:none;
}
.navtop li.mstat a {
	width:180px;
	height:63px;
	line-height:63px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:22px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mstat a:hover {
	color:#fff000;
	text-decoration:none;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mstat a.hit {
	color:#fff000;
	text-decoration:none;
}
.navtop li.mcontact a {
	width:180px;
	height:63px;
	line-height:63px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-family: 'Circular';
	text-transform:uppercase;
	font-size:22px;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navtop li.mcontact a:hover {
	color:#fff000;
	text-decoration:none;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.5s;
}
.navtop li.mcontact a.hit {
	color:#fff000;
	text-decoration:none;
}
.bgnavmenumain {
	background:url(../images/bgmenu_01.png) no-repeat top left;
}
.allinone_bannerRotator {
position: relative 	/*top:0px;*/
 z-index:0;
	margin:0px;
	padding:0px;
}
.allinone_bannerRotator img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.allinone_bannerRotator_list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}
.allinone_bannerRotator .stripe {
	position: absolute;
	display: block;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}
.allinone_bannerRotator .block {
	position: absolute;
	display: block;
	z-index: 1;
	overflow: hidden;
}
.mycanvas {
	position: absolute;
	top: 8px;
	right: 10px;
	z-index: 10;
}
/***UNIVERSAL SKIN***/
.allinone_bannerRotator.universal .bannerControls {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
}
.allinone_bannerRotator.universal .leftNav {
	position: absolute;
	left: 10px;
	top: 50%;
	/*margin-top:-20px;  height/2 */
	width: 41px;
	height: 41px;
	background: url(../skins/universal/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_bannerRotator.universal .leftNav:hover {
	background: url(../skins/universal/leftNavON.png) 0 0 no-repeat;
}
.allinone_bannerRotator.universal .rightNav {
	position: absolute;
	right: 10px;
	top: 50%;
	/*margin-top:-20px;  height/2 */
	width: 41px;
	height: 41px;
	background: url(../skins/universal/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_bannerRotator.universal .rightNav:hover {
	background: url(../skins/universal/rightNavON.png) 0 0 no-repeat;
}
.allinone_bannerRotator.universal .bottomNav {
	position: absolute;
	width: 0px;
	height: 24px;
	z-index: 4;
	padding-left: 9px;
}
.allinone_bannerRotator.universal .bottomNavButtonOFF {
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../skins/universal/bottomNavOFF.png) 0 0 no-repeat;
	padding-left: 9px;
	cursor: pointer;
}
.allinone_bannerRotator.universal .bottomNavButtonON {
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	padding-left: 9px;
	background: url(../skins/universal/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_bannerRotator.universal .bottomNavLeft {
	position: absolute;
	width: 0px;
	display: none;
	background: #F00;
	height: 24px;
	z-index: 4;
}
.allinone_bannerRotator.universal .bottomNavRight {
	position: absolute;
	width: 0px;
	display: none;
	height: 24px;
	background: #F00;
	z-index: 4;
}
.allinone_bannerRotator.universal .bottomOverThumb {
	position: absolute;
	width: 88px;
	height: 106px;
	background: url(../skins/universal/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom: 27px;
	margin-left: -25px;
}
.allinone_bannerRotator.universal .bottomOverThumb img {
	border: 4px solid #000000;
}
/*-----*/



#content .about {
	padding:19px;
	margin:0px;
	color:#ffffff;
	font-family: 'Circular';
	font-weight:bold;
	font-size:27px;
	}
#content .registerblock {
	width:285;
	display:block;
	margin:auto;
	padding:15px;
}
#content .borderimagethumb {
	border: none;
	float: left;
	margin: 0px 0px 8px 0px;
	outline: 2px solid #d4eafe;
}
#content .cfixed {
	width:1080px;
	display:block;
	margin: auto;
	padding:0px;
}
#keymessage {
	display:block;
	width:100%;
	height:165px;
	background:#0c579a url(../images/key-messages.jpg) top center no-repeat
}
#sponsorslide {
	display:block;
	width:100%;
	height:285px;
	background: url(../images/bg-sponsor-repeat.jpg) repeat-x
}
#sponsorslide .sponsorfiexd {
	width:1140px;
	margin:auto;
	height:285px;
	background:url(../images/bg-sponsor.jpg)
}
#footer {
	display:block;
	width:100%;
	height:285px;
	background: url(../images/bg-sponsor-repeat.jpg) repeat-x;
	color:#555555;
}
#footer #footercontent {
	width:100%px;
	margin:auto;
	height:341px;
	background: url(../images/bg-footercontent.jpg) repeat-x
}
#footer #footercontent .fixedfooter {
	width:1140px;
	margin:auto;
	position:relative;
}
#footer #footercontent .fixedfooter #topcontent a {
	position:absolute;
	right:-68px;
	background:url(../images/btn-top.png) no-repeat;
	display:block;
	height:194px;
	width:53px;
	text-indent:-5000px
}
#footer #copyright .fixedfooter {
	width:1140px;
	margin:auto;
}
#footer #copyright {
	display:block;
	height:68px;
	background: url(../images/bg-copyright.png) repeat-x;
	color:#ffffff;
	font-size:14px;
	line-height:68px;
}
#step {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#step li.one {
	width:679px;
	margin:auto;
	height:83px;
	display:block;
	background:url(../images/step.png) no-repeat top left;
	text-indent:-5000px;
}
#step li.two {
	width:679px;
	margin:auto;
	height:83px;
	display:block;
	background:url(../images/step.png) no-repeat;
	background-position:0px -83px;
	text-indent:-5000px;
}
#step li.three {
	width:679px;
	margin:auto;
	height:83px;
	display:block;
	background:url(../images/step.png) no-repeat bottom left;
	text-indent:-5000px;
}
.tdblue {
	padding:15px;
	color:#ffffff;
	font-family: 'Circular';
	font-weight:bold;
	font-size:25px;
	line-height:25px;
	background:#85aacc;
	text-transform:uppercase;
}
.tdgray {
	padding:15px;
	color:#f2f2f2;
	font-family: 'Circular';
	font-weight:bold;
	font-size:25px;
	line-height:25px;
	background:#b2b2b2;
	text-transform:uppercase;
}
.txtformbox {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:285px;
	height:22px;
	line-height:12px;
	margin-bottom:5px;
}
.txtformbox2 {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:185px;
	height:22px;
	line-height:12px;
	margin-bottom:5px;
}
.txtformbox3 {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:150px;
	height:22px;
	line-height:12px;
	margin-bottom:5px;
}
.txtformbox4 {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:550px;
	height:22px;
	line-height:12px;
	margin-bottom:5px;
}
.checklisttxt {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:90px;
	height:40px;
	line-height:12px;
	margin-bottom:5px;
}
.checklisttxt-l {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width:305px;
	height:40px;
	line-height:12px;
	margin-bottom:5px;
}
.checklisttxt-area {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	line-height:12px;
	margin-bottom:5px;
	width:285px;
}
.checklisttxt-area2 {
	background:#f2f2f2;
	border:1px solid #7ea4c5;
	padding:9px;
	font-size:12px;
	color:#676767;
	width: 400px;
	line-height:12px;
	margin-bottom:5px;
}
.labeltxt {
	font-size:14px;
	color:#333333;
	font-weight:bold;
	margin-right:8px;
}
.labelimportant {
	font-size:12px;
	color:#ff0000;
	font-weight:bold;
	margin-left:4px;
}
#intable {
	border-collapse: collapse;
	margin:15px;
}
#intable tr td {
	border:1px solid #e5e5e5;
	padding:2px;
}
#intable tr td.header {
	background: #BDCFD9;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
}
.subtextdetail {
	color:#999999;
	font-size:13px;
	line-height:14px;
	margin-right:8px;
}
