@charset "utf-8";
/* body */
BODY {
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	margin: 0px 0px 0px 0px;/*top right bottom left*/
	font-family:Tahoma, "Microsoft Sans Serif";
	font-size:15px;
	line-height:22px;
	color:#444444;
	background:url(../images/bg-pattern.jpg)
}
ul, ol, li, p, hr, h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
}
img {
	border:none;
	padding:0px;
	margin:0px;
}

/* MISC */
/*------------------------------------*/
::selection {
	background:#0c579a;
	color:#ffffff;
	text-shadow:none;
}
::-webkit-selection {
background:#0c579a;
color:#ffffff;
text-shadow:none;
}
::-moz-selection {
background:#0c579a;
color:#ffffff;
text-shadow:none;
}
.fade {
	FILTER: alpha(opacity=40);
	-moz-opacity: 0.2
}
#pagination{
	height: 50px;	
}
#pagination strong{
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	padding-top: 0px;
	padding-right: 9px;
	padding-bottom: 7px;
	padding-left: 9px;
}
#pagination a{
	display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	background-image: url(../images/btn-submit.png);
	background-repeat: no-repeat;
	height: 44px;
	width: 84px;
	border:1 solid #A3A3A3;
	background-color: #A2A2A2;	
}
.fileUpload input.uploadsignature {
	top: 0;
	right: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	background-image: url(../images/btn-submit.png);
	background-repeat: no-repeat;
	height: 44px;
	width: 100px;
	border:1 solid #A3A3A3;
	background-color: #A2A2A2;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 20px;
}
.imagesupload  {
	background-image: url(../images/btn-submit.png);
	height: 44px;
	width: 124px;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 50px;
}
.signatureupload{
		background-image: url(../images/btn-submit.png);
	height: 44px;
	width: 124px;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 20px;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%; 
}
  
 
.menu li {
    margin:0px;
    list-style:none; 
}
  
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative; 
}
  
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
     
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:120%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#0c579a; 
}
 
.sub-menu li {
    display:block; 
	height:50px;
} 
.sub-menu li a {
    padding:2px 6px;
    display:block; 
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#0c579a;
	height:50px;
}
#listnews{
	width:350px;
	float:left;
	margin-right: 5px;
	height: 350px;
	margin-left: 5px;
}
 input.error { 
					border:red solid thin;
				}

