/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none; 
	left: 0;
	z-index: 99;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}
 
.sf-menu > li {
	float: left;
}
 

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;  
} 
 
/*** DEMO SKIN ***/
.sf-menu {
	float: left; 
}
.sf-menu ul {
 
}
.sf-menu a { 
 
}
.sf-menu a {
 
}
.sf-menu li {
 
}
.sf-menu ul li {
	background: #0E5CA1; 
}
.sf-menu ul ul li {
	background: #0E5CA1; 
}
.navtop li li.sub1 a {
	width:180px;
	height:40px;
	line-height:40px; 
	color:#ffffff;
	text-decoration:none;
	text-align:left; 
	text-transform:uppercase;
	font-size:14px; 
	padding-left: 10px;
}
.navtop li li li.sub2 a {
	width:180px;
	height:40px;
	line-height:40px; 
	color:#ffffff;
	text-decoration:none;
	text-align:left; 
	text-transform:uppercase;
	font-size:14px; 
	padding-left: 10px; 
} 
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
 
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
