 #getdata{
width:1080px;
height:500px;
overflow: scroll;
 }
 #getdatare{
width:1080px;
 }

 h2.titletable{
	margin-top:15px; 
 }
  #box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin-top: 25px;
	/*margin-right: 100%; 
	margin-left: 100%;*/
	
	
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

#linktable a{
		font-size: 13px;
	font-weight: normal;
}
#export a{
	font-size: 15px;
}

  #box-table-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin-top: 25px;
	margin-right: auto; 
	margin-left: auto;
}

#box-table-b th
{
	font-size: 13px;
	font-weight: normal;
	text-align:center;
	padding: 8px;
	border: 1px solid #000;
	color: #039;
}
#box-table-b td
{
	padding: 8px;
	border: 1px solid #000;
	color: #669;
}
